.ItemDetail{
    display: flex;
    margin: 2%;
}

.CardActionsUser{
    display: flex;
    justify-content: right;
}

.CardActionsBuy{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}